.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.transparent{
    -fx-background-color: transparent;
}

.radius2{
    -fx-background-radius: 16px;
}

.radius3{
    -fx-background-radius: 22px;
}