.head-label {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 5px;
    -fx-border-color: #3C27BD;
    -fx-border-width: 0 5px 0 0;
    -fx-font-size: 20px;
    -fx-font-weight: normal;
}
.login-button {
    -fx-background-color: linear-gradient(to bottom right,#5b85b0,#f27552);
    -fx-background-radius: 5px;
    -fx-cursor: pointer;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}