
.login-button {
    -fx-background-color: linear-gradient(to bottom right,#5b85b0,#f27552);
    -fx-background-radius: 5px;
    -fx-cursor: pointer;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}
.book-btn{
    -fx-background-color: #c53d3d;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.radius{
    -fx-background-radius: 8px;
}
.textfield-design{
-fx-background-color:transparent;
-fx-border-color:#000000;
-fx-border-width:0px 0px 1px 0px;
}

.text-field {
    -fx-prompt-text-fill: #645555;
}

.upper-anchore{
    -fx-background-radius: 0 0 10px 10px;
    -fx-background-color:#66666E;
}

.icon-color{
    -fx-background-color: white;
}

.down-box{
    -fx-background-radius: 30;
    -fx-background-color:#264e70;
}

.icons{

}
.icons:hover, .icons:selected {
    -fx-translate-y: -35px;

}

.User-button:hover {
    -fx-background-color: linear-gradient(to bottom right,  #99CCEB,#4B81E4);
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.transparent{
    -fx-background-color: transparent;
}

.dark-background{
    -fx-background-color:#222222;
}

.primary-colour{
-Fx-background-color:#383838;
}

.secondary-colour{
-Fx-background-color:#282828;
}


.round.border{
Fx-background-radius:100;
}

.upper-anchore2{

    -fx-background-color: #fff;
    }

    .User-button2:hover {
        -fx-background-color: linear-gradient(to bottom right, #B9B5B5, #B9B5B5);
    }

    .upper-anchore3{

        -fx-background-color:#C6C5C5;
    }

    .upper-anchore4{

            -fx-background-color:#EFEFEF;
        }

 .User-button:hover {
            -fx-background-color: linear-gradient(to bottom right, #B9B5B5, #B9B5B5);
        }

 .scroll-bar{
 -fx-opacity: 0;
 -fx-background-color: transparent;
 }