
.gradient {
    -fx-background-color: linear-gradient(to bottom right, #8DC6FF, #FF7272);
}


.white-form {
    -fx-background-color: #fff;
}


.head-label {
    -fx-border-color: #FF7272;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}


.login-button {
    -fx-background-color: linear-gradient(to bottom right, #87CEEB, #FF7272);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}


.login-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #4E8CFB, #F94646);
}


.textfield {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 6px;
    -fx-border-color: linear-gradient(to bottom right, #5b85b0,#f27552);
    -fx-border-width: .5px;
}


.create-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}

.create-btn:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}