
.gradient {
    -fx-background-color: linear-gradient(to bottom right,#99CCEB,#4B81E4);
}


.white-form {
    -fx-background-color: #fff;
}


.head-label {
    -fx-border-color: #0F75D1;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}


.head-label-white {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}


.login-button {
    -fx-background-color: linear-gradient(to bottom right,  #99CCEB,#4B81E4);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.login-buttonWhite {
    -fx-background-color: linear-gradient(to bottom right,  #99CCEB,#4B81E4);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}


.login-button:hover {
    -fx-background-color: linear-gradient(to bottom right,  #99CCEB,#4B81E4);
}


.textfield {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 6px;
    -fx-border-color: linear-gradient(to bottom right, #5b85b0,#f27552);
    -fx-border-width: .5px;
}


.create-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}

.create-btn:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}



.login-buttonPro {
    -fx-background-color: linear-gradient(to bottom right, #99CCEB,#4B81E4);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}


.login-buttonPro:hover {
    -fx-background-color: linear-gradient(to bottom right,#4B81E4,#99CCEB);
}

.textfieldPro {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 6px;
    -fx-border-color: linear-gradient(to bottom right,#1E9EE6,#013799);
    -fx-border-width: .5px;
}

