.upper-anchore{
    -fx-background-radius: 0 0 10px 10px;
    -fx-background-color:#66666E;
}
.icon-color{
    -fx-background-color: white;
}

.down-box{
    -fx-background-radius: 30;
    -fx-background-color:#66666E;

}

.icons{

}
.icons:hover, .icons:selected {
    -fx-translate-y: -35px;

}